.button__wrapper {
    font-size: var(--font-detail-size);
    width: 100%;
    padding: 2em 2em 4em;
}

.image__container {
    height: 50%;
    width: 100%;
    padding: 2em;
}

.image__container img {
    width: 100%;
    height: 100%;
}

.country__description__container {
    line-height: 2;
    padding: 2em;
}

.country__heading {
    padding-bottom: 1em;
    font-size: 16px;
    font-weight: 800;
}

.country__desc {
    font-weight: 600
}

.country__desc span {
    font-weight: 300;
}

.buttons__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1em;
    padding: 2em 0;
}