.list {
    display: grid;
    grid-template-columns: 1fr;
    align-self: center;
    justify-self: center;
    gap: 2em;
    list-style: none;
    padding-left: 3em;
    padding-right: 3em;
    min-height: 100vh;
}