.list {
  display: grid;
  grid-template-columns: 1fr;
  align-self: center;
  justify-self: center;
  gap: 2em;
  list-style: none;
  padding-left: 3em;
  padding-right: 3em;
  height: fit-content;
}

.loader {
  height: 100%;
  width: 100%;
  color: #4fa94d;
  position: absolute;
  transform: translate(50%, 25%);
}

@media (min-width: 720px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 920px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
    gap: 4em;
  }
}

@media (min-width: 1250px) {
  .list {
    grid-template-columns: repeat(4, 1fr);
    gap: 5em;
    padding-left: 5em;
    padding-right: 5em;
  }
}

@media (min-width: 1560px) {
  .list {
    grid-template-columns: repeat(5, 1fr);
  }
}
