.header {
  background: var(--color-accent);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-home-size);
  padding: 2em 1em;
  height: 70px;
  width: 100%;
}

.main__heading {
  font-size: var(--font-home-size);
  font-weight: 800;
}

@media (min-width: 720px) {
  .header {
    padding: 2em 3em;
  }

  .main__heading {
   font-size: var(--font-detail-size);
  }
}

@media (min-width: 1250px) {
  .header {
    padding: 2em 5em;
  }
}

button {
  background: var(--color-accent);
  border: none;
  color: var(--color-text);
  font-weight: 300;
  display: flex;
  gap: .5em;
}

button:hover {
  cursor: pointer;
  scale: 1.1;
}
