.filter__container {
  height: 40px;
  width: 14rem;
  position: relative;
  left: 2em;
  margin-bottom: 2em;
}

@media (min-width: 1250px) {
  .filter__container {
    margin-right: 2em;
  }
}

.form__control {
  border-radius: var(--border-radius);
  padding: 1em;
  height: 40px;
  width: 100%;
  position: relative;
  right: 1em;
  cursor: pointer;
}

.select__control {
  transform: scaleY(0);
  opacity: 0;
  transform-origin: top;
  position: absolute;
  width: max-content;
  background: var(--color-accent);
  border-radius: var(--border-radius);
  transition-property: transform, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.select__control__open {
  transform: scaleY(1);
  opacity: 1;
}
@media (min-width: 720px) {
  .select__control__open {
    margin-right: 1em;
    margin-left: -1em;
  }

  .filter__container {
    left: 0;
    margin-bottom: 0;
  }
}

.option__control {
  background: var(--color-accent);
  cursor: pointer;
  padding: 0.5em 1em;
}

.option__control:hover {
  font-size: larger;
  font-weight: 600;
}

.option__control:nth-child(1) {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  margin-top: 4px;
}

.option__control:nth-child(5) {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.arrow,
.arrow__open {
  background: var(--color-accent);
  border-radius: var(--border-radius);
  position: absolute;
  right: 0;
  top: 0;
  height: 40px;
  width: 40px;
}

.arrow::before,
.arrow::after,
.arrow__open::before,
.arrow__open::after {
  content: "";
  background: var(--color-text);
  position: absolute;
  bottom: 15px;
  width: 0.15rem;
  height: 20%;
  transition: all 0.5s;
}

.arrow::before {
  left: 20px;
  transform: rotate(45deg);
}

.arrow::after {
  left: 25px;
  transform: rotate(-45deg);
}

.arrow__open::before {
  left: 15px;
  transform: rotate(-45deg);
}

.arrow__open::after {
  left: 20px;
  transform: rotate(45deg);
}
